body {
  background-color: #13100D;
  font-size:  18px;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3.5em;
  text-align: center;
  color: white;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.6em;
  text-align: left;
  color: black;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: left;
  color: black;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: center;
  color: black;
}

p {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

div {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  overflow:auto;
}

header {
color: white;
}

.block1 {
  background-color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}

.block2 {
  background-color: white;
  display: inline-block;
  margin: 10px;
}

.block3 {
  background-color: white ;
}

.date {
  font-family: Arial, Helvetica, sans-serif;
}

.img-responsive {
  height: 125px;
}

.img-main {
  float: left;
  overflow: hidden;
  height: 200px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.fa  {
  font-size: 25px;
  width: 100px;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
}

input {
  width: 15%;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

small {
  color: grey;
 }

.column {
  float: left;
  padding: 5px;
  margin: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 500px) {
  .column,
  {
    width: 100%;
  }
  }

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
